.progress-bar-area {
    display: flex;
    width: 45vw;
    height: 2vh;
    margin: 3vh 0;
    .progress-bar-label {
        font-size: 1em;
        text-align: start;
        width: 35vw;
        font-weight: bold;
        margin-right: 2vw;
    }
}
