.project-framework-tags {
    text-align: start;
    padding: 1vmax;
    display: flex;
    align-items: center;

    .project-framework-tags-title {
        font-size: 1em;
    }

    .project-framework-area {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-start;
        .framework-tag {
            font-size: 0.8em;
            text-align: center;
            background-color: #e8d3ff;
            color: #3282b8;
            padding: 0.3vmax;
            border-radius: 1vmax;
            min-width: 3vw;
            margin: 0.5vh 0.3vw;
        }
    }
}
