.about-me {
    background-color: #666666;
    overflow: hidden;
    padding: 9vh 9vw;

    .about-me-content-area {
        width: 80vw;
        height: 80vh;
        background-color: white;
    }
    .about-me-left-contents {
        width: 49vw;
        height: 20vh;
        position: relative;
        float: left;
        background-color: #ffffff;
    }
    .about-me-right-contents {
        width: 48vw;
        height: 20vh;
        position: relative;
        float: right;
        background-color: #ffffff;
    }
}
