.about-me {
    background-color: #0f4c75;
    overflow: hidden;
    padding: 9vh 9vw;

    .about-me-content-area {
        width: 70vw;
        min-height: 70vh;
        border-left: solid #95e1d3 2vmax;
        background-color: white;
        box-shadow: 1vmax 1vmax 0.2vmax 0.2vmax rgba(0, 0, 0, 0.3);
        padding: 5vh 5vw;
    }

    .about-me-picture-area {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3vh;
        .about-me-picture {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .about-me-simple-introduce {
            width: 100%;
            padding: 0 2vw;
            text-align: left;
            .about-me-title {
                font-family: "LexendDeca";
                font-size: 2.7em;
                font-weight: 700;
                margin-bottom: 2vh;
            }
            .introduce-nickname {
                font-size: 1.8em;
                margin-bottom: 2vh;
            }
            .introduce-subtitle-title {
                font-size: 1.1em;
                font-weight: 700;
            }
            .introduce-subtitle-content {
                font-size: 1em;
                font-weight: 400;
            }
            .introduce-subtitle-title-mobile {
                font-size: 1.6em;
                font-weight: 700;
            }
            .introduce-subtitle-content-mobile {
                font-size: 1.3em;
                font-weight: 400;
                margin-bottom: 15px;
            }
        }
    }
    .about-me-introduce-area {
        font-size: 1.3em;
        font-weight: 400;
        margin-top: 5%;
        text-align: left;
    }
}
