.introduce {
    background-color: #1b262c;
    height: 100vh;
    color: white;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: right;
    display: flex;
    .introduce-contents {
        padding: 5%;
        text-align: right;
        .introduce-title {
            color: white;
            font-family: "LexendDeca";
            font-weight: 700;
            font-size: 6em;
        }
        .introduce-subtitle {
            width: 100vw;
            font-size: 5em;
            .introduce-subtitle-category-area {
                height: 70px;
                .introduce-subtitle-category {
                    font-family: "LexendDeca";
                    font-weight: 700;
                    color: #00ff00;
                }
            }
            .introduce-subtitle-developer {
                font-family: "LexendDeca";
                font-weight: 700;
                margin-left: 1.5vw;
                color: white;
            }
        }
    }
}
