.introduce {
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: right;
    display: flex;
    .introduce-contents {
        padding: 5%;
        text-align: right;
        .introduce-title {
            font-size: 100px;
        }
        .introduce-subtitle {
            display: flex;
            font-size: 60px;
            .introduce-subtitle-category {
                color: #00ff00;
                width: 30vw;
            }
            .introduce-subtitle-developer {
                margin-left: 1.5vw;
            }
        }
    }
}
