.introduce {
    background-color: #1b262c;
    height: 100vh;
    color: white;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: right;
    display: flex;
    .introduce-contents {
        padding: 5%;
        text-align: right;
        .introduce-title {
            font-family: "LexendDeca";
            font-size: 6em;
        }
        .introduce-subtitle {
            display: flex;

            font-size: 5em;
            .introduce-subtitle-category {
                font-family: "LexendDeca";
                color: #00ff00;
                width: 40vw;
            }
            .introduce-subtitle-developer {
                font-family: "LexendDeca";
                margin-left: 1.5vw;
            }
        }
    }
}
