.nav-bar {
    top: -10.5vh;
    left: 20vw;
    // transform: translate(-25vw, 0);
    position: fixed;
    z-index: 2000;

    .nav-bar-open-button {
        background-color: #777777;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        position: absolute;
        left: 20vw;
        width: 20vw;
        height: 3vh;
    }
    .nav-bar-area {
        background-color: #555555;
        justify-content: center;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        min-width: 60vw;
        height: 10vh;
        color: white;
        .nav-bar-menu {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            font-size: 1.5em;
            cursor: pointer;
            .nav-bar-item-text {
                color: #ffffff;
            }
        }
    }
}
