.project {
    background-color: #0f4c75;
    padding: 9vh 2vw;
    .project-paper {
        background-color: white;
        height: 80vh;
        border-radius: 30px;
        padding: 4vmax;

        .experience-title-subtitle,
        .experience-content {
            text-align: left;
        }
    }
}
