.project {
    background-color: #666666;
    height: 100%;
    padding: 9vh 2vw;
    .project-paper {
        background-color: white;
        height: 80vh;
        border-radius: 30px;
        padding: 2vmin;

        .experience-title-subtitle,
        .experience-content {
            text-align: left;
        }
    }
}
