.skill {
    background-color: #0f4c75;
    height: 82vh;
    padding: 9vh 4vw;
    .skill-area {
        background-color: white;
        width: 90vw;
        height: 80vh;
        border-radius: 30px;
        padding: 2vmin;
        .skill-title {
            font-size: 2.5em;
        }
    }
    circle {
        fill: none;
        stroke-width: 100;
    }
}
