.skill {
    background-color: rgb(93, 77, 77);
    height: 100vh;
    position: relative;
    align-items: center;
    padding: 10vh 2vw;
    .skill-area {
        background-color: white;
        width: 90vw;
        height: 80vh;
        border-radius: 30px;
        padding: 2vmin;
    }
    circle {
        fill: none;
        stroke-width: 100;
    }
}
