.experience-content-area {
    background-color: white;
    width: 80vw;
    min-height: 20vh;
    border-radius: 3vmin;

    margin: 2vh 0;
    padding: 2vh 2vw;
    .experience-title-subtitle,
    .experience-content {
        text-align: left;
    }

    .experience-title-subtitle {
        display: flex;
        align-items: flex-end;
        .experience-title {
            font-size: 2em;
            font-weight: 600;
        }
        .experience-subtitle {
            margin-left: 0.5vw;
            font-size: 1em;
        }
    }

    .experience-content {
        font-size: 1.2em;
        width: 100%;
    }
}
